<% content_for :meta_tags do %>

<title><%= meta_title %></title>
<meta name="description" content="<%= meta_desc %>" />

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary_large_image">
<meta name="twitter:site" content="@SheffieldHosp">
<meta name="twitter:title" content="<%= sm_title %>">
<meta name="twitter:description" content="<%= meta_desc %>">
<meta name="twitter:image" content="http://www.sth.nhs.uk/clientfiles/Image/holly[1].jpg">

<!-- Open Graph data -->
<meta property="og:title" content="<%= sm_title %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= og_url %>" />
<meta property="og:image" content="http://www.sth.nhs.uk/clientfiles/Image/holly[1].jpg" />
<meta property="og:description" content="<%= meta_desc %>" />
<meta property="fb:page_id" content="347049605370687" />
<% end %>